forum:
  url: "https://rutracker.org/forum/dl.php?t="
  userName: "user"
  userPass: "pass"
  login: "%E2%F5%EE%E4"
clients:
  urls:
    - "http://192.168.1.2:8082/"
    - "http://192.168.1.2:8083/"
    - "http://192.168.1.2:8084/"
log:
  logLevel: Debug
  logFormat: plain